*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 15px;
}

body * {
    box-sizing: border-box;
}

.controls-main-block-video {
    transform: translate(0%,-50%);
    
}

.img-2 {
    display: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}

.button-personal {
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    font-size: 13px;
    line-height: 27px;
    font-style: normal;
} 

.btn-calc {
    width: 207px;
    height: 51px;
    text-transform: none;
}

.btn-transparent {
    margin-left: 18px;
    border: 1px solid #FFFFFF;
    padding: 0px;
    background: transparent;
}

.logo {
    color:#E3B873;
    text-transform: uppercase;   
}

.number {
    color:#E3B873;
    text-align: right;
    text-decoration-line: underline;  
}

.header {
    background-color: black;  
    position: sticky;
    top: 0;
    z-index: 50;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {   
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
}

.header-navigation__item a:hover {
    color: #E3B873;
}

.hero {
    padding-top: 194px;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
}

.hero-owerlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    
}

.title {
    font-size: 40px;
    line-height: 53px;
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: white;
}

.rostov-text {
    color: #E3B873;
}

.text-container {
    color: #FFFFFF;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 22px;
    line-height: 36px;
    width: 50%;
}

.projects {
    padding-top: 100px;
    background: #131313;
    height: 100%;
    padding-bottom: 450px;
}

.projects-ul {
    padding: 10px 0px;
}

.projects-navigation__item {
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-right: 50px;
}

.projects-navigation__item a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

.projects-navigation__item a:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.title-text {
    font-family: Yeseva One;
    text-transform: uppercase;
    color: #E3B873;
}

.title-projects { 
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    margin: 27px 0px;   
}

.text_block {
   font-family: Nunito Sans; 
   color: #FFFFFF;
   margin: 14px 0px;
}

.text-projects {   
    font-size: 14px;
    line-height: 27px;    
}

.projects-unit {
    font-size: 18px;
    line-height: 25px;            
}

.projects__block-left{
    margin-left: 50px;
}

.description {
    font-size: 13px;
    line-height: 21px;
    text-transform: none;
}

.blocks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.units {
    margin-bottom: 55px;
    margin-right: 35px;
}

.blocks-units {
    width: 100%;
}

.top-left__block {
   margin-bottom: 34px; 
}

.projects-footer {
    font-size: 20px;
    line-height: 28px;
    margin-top: 120px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.projects-footer__img {
    text-align: center;
}

.projects-footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.projects-footer-icons__1 {
    width: 32px;
    height: 1.94px;
    background: #E3B873;
    border-radius: 30px;
}

.projects-footer-icons__2 {
    padding: 0px 10px;
}

.controls {
    position: relative;
    background: #fff;
    /*margin-top: -50px;*/
    min-height: 800px;
    
}

.controls-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.controls-main-block {
    height: 500px;
}*/

/*.controls-main-block-video {
    transform: translate(0%,-50%);
    
}*/

.controls-video2 {
    transform: translate(200%, -165%);
    width: 170px;
}

.controls-main-block-video__pause {
    background: url('../images/image3.jpg');
    width: 817px;
    height: 434px;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: darken;
}

.controls-main-block-video__pause2 {
    background: url(../images/group8.svg) no-repeat;
    width: 170px;
    height: 170px;
}

.controls-main__text {
    font-family: Nunito Sans;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    width: 682px;
}

.dsc-color {
    color: rgba(54, 54, 54, 0.5);
}

.controls-main__inp { 
    border-width: 0;
    font-size: 14px;
    line-height: 23px;
    outline: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;
    display: block;
}

input[type="text"]::-webkit-input-placeholder {
    color: #363636;
} 

input[type="text"]::-moz-placeholder {
    color: #363636;
}

.controls-main-personal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*width: 817px;*/
}

.controls-main-agree {
    margin-top: 40px;
}

.controls-main-agree__lbl {
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;    
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "";
    color: #FFFFFF;
    display: inline-block;
    background: #E3B873;
    border-radius: 1px;
    font-size: 14px;
    line-height: 163.68%;
    margin: 5px 5px;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}
input[type=checkbox]:checked + label:before {
    color: #FFFFFF;
    content: "\2713";

}

.title-text__black {
    color: #181818;
}

.example-items {
    margin-right: 30px;
    width: 30%;
    padding-top: 250px;
}

.example-item-1 {
    /*position: relative; */
    /*margin-right: 30px;*/
    /* background-color: #fff; */
    /* background-size: cover; */
    background: url(../images/image.jpg) no-repeat;
    background-size: contain;
    /*width: 30%;
    padding-top: 250px;*/
}

/*.example-item-1 {
    background-image: url('../images/image.jpg');
    background-size: cover;
    height: 326px;
    width: 350px;
}*/

.example-item-2 {
    background: url('../images/image4.jpg') no-repeat;
    background-size: contain;
}

.example-item-3 {
    background: url('../images/image5.jpg') no-repeat;
    background-size: contain;
}

.example-item__text {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    /* height: 285px; */
    width: 80%;
    /* transform: translate(10%,-20%); */
    padding-top: 10px;
    margin-left: 10%;
    max-width: 1250px;
}

.item-text {
    color: #363636;
    font-family: Yeseva One;
    padding-left: 25px;
}

.projects-list__item {
    font-family: Nunito Sans;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.example-item-1__but {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
}

.example {
    margin-top: 45px;
    width: 80%;
    justify-content: center;
    max-width: 1250px;
}

.example-personal {
    margin-top: 45px;
    width: 100%;
    justify-content: center;
    background: url(../images/frame.png);
    background-size: contain;
    padding-bottom: 280px;
}

.measurements {
    background: url('../images/image6.png') no-repeat;
    margin-top: 120px;
}

.measurements-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.measurements-container-block {
    display: flex;
    flex-direction: column;    
}

.measurements-container-block__element {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.measurements-container-block__element--1 {
    background: url(../images/rectangle8.svg) no-repeat;
    height: 80px;
    width: 90px;
}

.measurements-text {
    text-align: center;
    color: #fff;
    padding-top: 30%;
}

.controls-main-agree__lbl--measurements {
    line-height: 19px;
}

.m-block-2 {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    padding: 30px 50px;
    color: #fff;
    margin-left: 130px;
    max-width: 500px;
}

.m-block-2__title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.m-block-2__color {
    color: #fff;
}

.m-block-2__inp {
    background-color: #131313;
    color: #fff;
}

.dsc-color-2 {
    color: rgba(255, 255, 255, 0.5);
}

input[id="inp"]::-webkit-input-placeholder { color: #fff; }
input[id="inp"]:-ms-input-placeholder { color: #fff; }
input[id="inp"]::-ms-input-placeholder { color: #fff; }
input[id="inp"]::placeholder { color: #fff; } 

.m-block-2__bottom {
    padding-bottom: 50px;
}

.btn-call {
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
}

.controls-main-btn {
    margin-top: 40px;
}

.measurements-block {
    display: flex;
    flex-direction: row-reverse;
}

.measurements-block2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 340px;
    margin-left: 58%;
}

.measurements-additionally {
    font-family: Nunito Sans;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.personal-text {
    padding: 13px 20px;
}

.personal-vector {
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.personal-vector__text {
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.img-radius {
    border-radius: 50%;
}

.notop {
    margin-top: 0px;
    margin-bottom: 45px;
}

.m-block-3 {
    max-width: 800px;
    margin-left: 0px;
    margin-top: -220px;
    margin-bottom: 25px;
}

.m-block-3__bottom {
    margin-right: 10px;
}

.container-2 {
    margin: 0 auto;
    width: 80%;
    max-width: 1250px;
    /*background: url(../images/frame.png);*/
}

.additionally-text {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding: 20px 0px;
}

.additionally-block {
    width: 65%;
}

.m-block-2__bck {
    color: #fff;
    background: url(../images/group11.svg);
}

.container-3 {
    margin: 0 auto;
    padding-bottom: 25px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.map {
    margin-top: 25px;
}

.fform {
    width: 817px;
}

.controls-main-personal__list {
    margin-left: 40px;
}

.controls-main__title {
    margin-top: -450px;
    margin-bottom: 25px;
}


@media (max-width: 1365px) {

.header-navigation, .btn-reg {
    display: none;
}

.number {
    color:#FFFFFF;
    text-align: right;
    text-decoration-line: underline;  
}

.header-content {
    width: 80%;
}

.title {
    font-size: 23px;
    line-height: 30px;
}

.hero {
    padding-top: 85px;
}

.text-container {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

.btn-calc {
    width: 100%;
    margin-top: 20px;
}

.blocks {
    flex-direction: column;
}

.title-projects {
    text-align: center;
    font-size: 22px;
    line-height: 138.6%;
    margin-top: -5px;
}

.text-projects {
    font-size: 11px;
    line-height: 158.48%;
    text-align: center;
}

.projects {
    padding-top: 35px;
    padding-bottom: 500px;
}

.blocks-units {
    flex-direction: row;
}

.form-m {
    flex-direction: column;
}

.description {
    font-size: 11px;
    line-height: 135.84%;
}

.units {
    margin-bottom: 0px;
}

.slider {
    display: none;
}

.img-1 {
    display: none;
}

.projects__block-left{
    margin-left: 0px;
}

.projects-footer {
    font-size: 22px;
    line-height: 138.6%;
    margin-top: 10px;
}

.controls-main-block-video__pause {
    background: url('../images/image3_2.png');
    width: 340px;
    height: 207px;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: darken;
}

.controls-main-block-video__pause2 {
    background: url(../images/group87.png) no-repeat;
}

.controls-video2 {
    transform: translate(70%, -85%);
    width: 170px;
}

.controls-main-block {
    height: 100%;
}

.footer-marg {
    margin-top: -140px;
}

.controls-main__text {
    font-size: 11px;
    line-height: 169.8%;
    color: #FFFFFF;
    margin-left: 18px;
    margin-right: 18px;
    width: 311px;
    margin-top: 20px;
}

.btn-transparent {
    margin-left: 0px;
}

.img-2 {
    display: block;
    text-align: center;
}

.controls-main__inp, .additionally-text {
    width: 340px;
}

.button-personal {
    width: 340px;
    margin-top: 63px;

}

.mob-marg {
    margin-top: 63px;
}

.controls-main-agree {
    margin-top: -100px;
}

.mob-footer {
    margin-top: 100px;
}

.controls-main-personal, .projects-footer-icons {
    flex-direction: column;
    /*margin-top: 20px;*/
}

.example-items {
    width: 50%;
    margin-right: 0px;
    margin-bottom: 70px;
}

.example-item__text {
    margin-left: 0px;
}

.measurements, .container-2 {
    display: none;
}

.m-block-2__bck {
    margin-top: 200px;
}

.controls-main-agree__lbl {
    margin-top: 120px;
}

.controls-main-btn {
    margin-top: 0px;
}

.m-block-2__bck, .container-3 {
    background: none;
    background-color: #131313;

}

footer {
    display: none;
}

.additionally-block {
    width: auto;
}

.additionally-text {
    font-size: 18px;
    line-height: 138.6%;
}

.mob-icons {
    flex-direction: row;
    margin-top: 20px;
}

.mob_img {
    width: 340px;
}

.controls-main__title {
    margin-top: -500px;
}

.fform {
    margin-top: 60px;
    width: 100%;
}

.mob_reverse {
    flex-direction: column-reverse;
}
}

@media (max-width: 767px) {
.projects__block-left {
    margin-left: -43px;
}

.example-items, .fform, .controls-main__inp {
    width: 100%;
}

/*.controls-main__inp {
    width: 100%;
}*/

.m_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.m-block-2 {
    box-sizing: border-box;
}


}




